* {
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

body {
  margin: 0;
  font-family: Calibri, sans-serif;
  color: #2E4057;
  background-color: #FFF7EE;
  line-height: 1.5;
}

head {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-bottom: solid 1px #aaa;
  background-color: #2E4057;
}

.logo-container {
  display: flex;
  align-items: center;
}

logo {
  height: 50px;
  width: auto;
  margin-right: 10px;
}

.site-name {
  font-family: "Trebuchet MS", sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #FFF7EE;
}

nav a {
  display: inline-block;
  margin-left: 15px;
  font-weight: bold;
  color: #FFF7EE;
  padding: 8px 12px;
  border-radius: 0.2rem;
  border: solid 1px #aaa;
  text-align: center;
  text-decoration: none;
}

nav a:hover {
  color: #EE583F;
}

nav a[aria-current='page'] {
  color: #2E4057;
  background-color: #d4d4d4;
}

.hero {
  background-color: #F7B3CC;
  padding: 30px 20px;
  text-align: center;
}

.hero h1 {
  font-family: "Trebuchet MS", sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #2E4057;
  margin-bottom: 10px;
}

.hero p{
  font-family: Calibri, sans-serif;
  font-size: 20px;
  margin-bottom: 15px
}

.hero button {
  background-color: #EE583F;
  color: #FFF7EE;
  border: none;
  padding:10px 20px;
  font-weight: bold;
  cursor: pointer;
  font-family: Roboto, sans-serif;
}

.hero button hover {
  background-color: #C7B65E
}
.featured {
  padding: 20px;
  text-align: center;
}

.featured h2 {
  font-family: Impact, sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: #2E4057;
  margin-bottom: 15px;
}

.books {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 0;
}

.books li {
  display : flex;
  flex-direction: column;
  align-items: center;
}

.books img {
  max-witdh: 150px;
  border-radius: 4px;
}

.books span.caption {
  font-famiy: Comfortaa, sans-serif;
  font-size: 11px;
  margin-top: 5px;
}

footer {
  background-color: #2E4057;
  color: #FFF7EE;
  text-align: center;
  padding: 15px 10px;
  font-size: 0.9em;
}

a:focus, button:focus {
  outline: 2px solid #EE583F;
}

@media screen and (max-width:768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  nav {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  nav a {
    margin: 5px 0;
  }

  .books img {
    max-width: 80%;
  }
}
