* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Calibri, sans-serif;
  color: #2e4057;
  background-color: #fff7ee;
  line-height: 1.5;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #ee583f;
}

.logo-container {
  display: flex;
  align-items: center;
}

logo {
  height: 50px;
  width: auto;
  margin-right: 10px;
}

.site-name {
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #ee583f;
}

nav {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  align-items: center;
}

nav a {
  display: inline-block;
  margin-left: 15px;
  font-weight: bold;
  background-color: #fff7ee;
  color: #ee583f;
  padding: 8px 12px;
  border-radius: 0.2rem;
  border: solid 1px #aaa;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
  color: #fff7ee;
  background-color: #2e4057;
}

nav a[aria-current='page'] {
  color: #fff7ee;
  background-color: #ee583f;
  border-radius: 0.2rem;
  padding 8px 12px
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}
.hero {
  background-color: #c7b65e;
  padding: 30px 20px;
  text-align: center;
}

.hero h1 {
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #2e4057;
  margin-bottom: 10px;
}

.hero p {
  font-family: Calibri, sans-serif;
  font-size: 20px;
  margin-bottom: 15px;
}

.hero button {
  background-color: #ee583f;
  color: #fff7ee;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  font-family: Roboto, sans-serif;
}

.hero button hover {
  background-color: #f7b3cc;
}
.featured {
  padding: 20px;
  text-align: center;
}

.featured h2 {
  font-family: Impact, sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: #2e4057;
  margin-bottom: 15px;
}

table.gallery {
  background-color: #2e4057;
  border-collapse: separate;
  border-spacing: 10px;
  width: 100%;
  text-align: center;
  padding: 10px;
}

table.gallery td {
  background-color: #c7b65e;
  padding: 10px;
  border-radius: 5px;
}

table.gallery img {
  width: 150px;
  border-radius: 5px;
}

table.gallery button{
  background-color: #ee583f;
  color: #fff7ee;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 5px;
  cursor: pointer;
}

table.gallery button.hover {
  background-color: #c7b65e;
}

.books {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 0;
}

.books li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.books img {
  max-witdh: 150px;
  border-radius: 4px;
}

.books span.caption {
  font-famiy: Comfortaa, sans-serif;
  font-size: 11px;
  margin-top: 5px;
}

footer {
  background-color: #2e4057;
  color: #fff7ee;
  text-align: center;
  padding: 15px 10px;
  font-size: 0.9em;
}

a:focus,
button:focus {
  outline: 2px solid #ee583f;
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  nav {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  nav a {
    margin: 5px 0;
  }

  .books img {
    max-width: 80%;
  }
}
